= form_for @post, :html => { :class => "form-horizontal" } do |f|
  -if @post.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, :class => 'form-control'
  .form-group
    = f.label :body, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :body, :class => 'form-control'
  .form-group
    = f.label :isPublished, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :isPublished, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
